/* CSS Document */

/*
	Note:
	
	This uses bootstrap classes without the responsive aspect purely for grid layout and few form elements.
	And to make the transition to responsive in future as seamless as possible.
	
	 - Glyphicons images are not included so it will not work.

		
	- kaushtuvgurung@gmail.com
*/
@import url(bootstrap.css);
@import url(font-awesome/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Raleway:400,100,200,300,500,600,700,900,800);





/* General Layouts */
html{
	background-image:url(../img/bg/body-bg-gradient.jpg);
	background-repeat: repeat-x;	
	width:100%;
	background-color:#000;
}
body{
	height: 100%;
	float: left;
	background-color: transparent;
	/*overflow-x:hidden;*/
	background-repeat: no-repeat;	
	padding-left:125px;
	padding-top:75px;
	width:100%;
}

body,
h1,h2,h3,h4,h5,h6,p,input,select,textarea,ul,li,a{
	font-family: 'Lato', sans-serif;	
}
body,p{
	color:#a6b3b6;	
}
h1{
	font-family:'Raleway',sans-serif;
	font-size:35px;
	line-height:38px;
	font-weight:100;
	padding-bottom:40px;
	margin:0;
	color:#cae51c;
}
h2{
	
}
h3{
	
}
h4{
	font-size:16px;
	line-height:21px;
	font-weight:400;
	font-family:'Lato', sans-serif;	
	color:#cae51c;
	margin:0;
	padding:0 0 25px 0;
}

p{
	font-size:14px;
	line-height:21px;
	font-family:'Raleway', sans-serif;
	font-weight:300;
	padding-bottom:25px;
	margin:0;
	color:#fff;	
}

div{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
  	box-sizing: border-box;         /* Opera/IE 8+ */	
}
a,
a.active,
a:hover,
a:focus{
	color:#cae51c;	
}
hr{
	border-top: 1px solid rgba(255,255,255,0.2);	
}

/* Background images */
.about-us-bg{
	background-image:url(../img/bg/home-bg.jpg);
}
.service-bg{
	background-image:url(../img/bg/service-bg.jpg);	
}
.home-bg{
	background-image:url(../img/bg/home-bg.jpg);	
}
.testimonials-bg{
	background-image:url(../img/bg/testimonials-bg.jpg);		
}
.contact-us-bg{
	background-image:url(../img/bg/contact-us-bg.jpg);		
}
.case-studies-bg{
	background-image:url(../img/bg/home-bg.jpg);		
}
.privacy-policy-bg{
	background-image:url(../img/bg/service-bg.jpg);	
}
.disclaimer-bg{
	background-image:url(../img/bg/home-bg.jpg);		
}
/* Bootstrap Overwrites */

.container{
	width:1000px !important;	
	float:left;
	/*margin-left:125px;*/
	padding-left:0;
	padding-right:0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-right:0;
	padding-left:0;	
}

.btn{
	border-radius:0;	
	padding-left: 25px;
	padding-right: 25px;
	font-weight: 300;
}
.btn-primary{
	background-color:#a2aa3d;
	border:1px solid #a2aa3d;		
}
.btn-primary:hover,
.btn-primary:focus{
	background-color:#a2aa3d;
	border:1px solid #a2aa3d;		
}

.form-control{
	border-radius:0;	
}
.has-error .form-control{
	border-width:2px;	
}
.bg-danger{
	background-color:#a94442;		
}
.bg-success{
	background-color:#3c763d;	
}

/* Carousel - Changed to fade from slide */
.carousel .item {
	-webkit-transition: opacity 1s; 
	-moz-transition: opacity 1s; 
	-ms-transition: opacity 1s; 
	-o-transition: opacity 1s; 
	transition: opacity 1s;
}
.carousel .active.left {
	left:0;
	opacity:0;
	z-index:2;
}
.carousel .next {
	left:0;
	opacity:1;
	z-index:1;
}

/* End Bootstrap Overwrites */


/* Headers */
#head-wrap{
	float:left;
	height:140px;	
	width:100%;
	position:relative;
}
#logo{
	width:400px;	
	float:left;
	position:absolute;
}
#nav-wrap{
	position:absolute;
	float:left;
	left:400px;	
	right:0;
}
.nav-alt{
	width:100%;
	float:left;
	list-style:none;
	padding:0;
}
.nav-alt li{
	height:20px;	
	padding-left:10px;
	line-height:20px;
}
.nav-alt li.active,
.nav-alt li.active > a{
	color:#cae51c;
	background-color:#000;
}
.nav-alt li.active > a{
	/*position:absolute;*/
	width:100%;	
}
.nav-alt li.active:before{
	content: "\f101";
	font-family: FontAwesome;
	padding-right:10px;
}
.nav-alt li a{
	color: rgba(255,255,255,0.8);
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	letter-spacing: 6px;
	text-transform: uppercase;
	line-height:20px;
}
.nav-alt li a:hover,
.nav-alt li a:focus{
	color:#cae51c;
	text-decoration:none;	
}
/* dd = dropdown*/
.nav-dd{
	
}
.sub-nav{
	display:none;
	padding-left:28px !important;
	width:100%;	
}
.sub-nav a{
	text-transform:none !important;
}
.sub-nav-active > a{
	color:#cae51c !important;	
}

#body-wrap{
	margin-top:50px;
	float:left;
	width:100%;
}
.banner-wrap{
	margin-top:20px;
}
.page-banner{
	margin-bottom:45px;	
}

.page-list{
	list-style:none;	
	padding:0;
	margin-left:20px;
}
.page-list li{
	margin-bottom:30px;
	color:#fff;	
	font-weight:300;
}
.page-list li:before{
	content:"\f101";
	font-family: FontAwesome;
	display:inline-block;
	margin-left: -20px;
	width: 20px;	
	color:#cae51c;
}
.page-list li b{
	font-weight:400;	
}

.form-alt label{
	padding-left:15px;
	color:#fff;	
	font-weight:300;	
}

#contact-result{
	padding:10px 15px;
	margin-top:15px;	
}

#footer-wrap{
	margin-top:50px;
	margin-bottom:50px;
	float:left;
}
#footer-wrap span{
	color:#5a5a5a;
	font-size:12px;
	font-weight:400;
	line-height:19px;	
}
a.footer-links{
	color:#5a5a5a;
	padding-right:25px;		
}



/* Helpers */
.pull{
	float:right;	
}
.push{
	float:left;	
}
.clear{
	clear:both;	
}
.push-text{
	text-align:left !important;	
}
.pull-text{
	text-align:right !important;	
}




